{
	email {$ACME_EMAIL}
	admin off
}

www.tio2products.com {
	redir https://tio2products.com{uri} permanent
}

tio2products.com {
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options SAMEORIGIN
		-Server
	}
	reverse_proxy wordpress:80
	log {
		output stdout
		format json
	}
}
